<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Dobrodošli nazad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="login-container">
    <ion-icon name="person-circle-outline" color="primary" style="font-size: 80px;"></ion-icon>
    
    <ion-item class="ion-margin-top">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" placeholder="vas@email.com"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label position="stacked">Lozinka</ion-label>
      <ion-input type="password" placeholder="********"></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top" shape="round">
      Prijavi se
    </ion-button>

    <ion-button fill="clear" color="medium" (click)="idiNaRegistraciju()">
      Nemate nalog? Registrujte se
    </ion-button>
  </div>
</ion-content>