<ion-app>
  <ion-menu contentId="main">
    <ion-header class="ion-no-border">
      <ion-toolbar color="primary">
        <ion-title style="font-weight: 800;">TRAVEL PLANNER</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-item routerLink="/profile" routerDirection="root">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label>My Profile</ion-label>
        </ion-item>

        <ion-item routerLink="/travel" routerDirection="root">
          <ion-icon name="map-outline" slot="start"></ion-icon>
          <ion-label>My Travel Plans</ion-label>
        </ion-item>

        <ion-item routerLink="/statistics" routerDirection="root">
          <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
          <ion-label>Travel Statistics</ion-label>
        </ion-item>

        <ion-item routerLink="/requests" routerDirection="root">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>Requests</ion-label>
        </ion-item>

        <ion-item routerLink="/friends" routerDirection="root">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label>Friends</ion-label>
        </ion-item>

        <ion-item routerLink="/login" routerDirection="root" class="ion-margin-top">
          <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon>
          <ion-label color="danger">Log out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-tab-bar slot="bottom" *ngIf="showTabs" style="position: fixed; bottom: 0; width: 100%;">
    <ion-tab-button tab="profile" routerLink="/profile">
      <ion-icon name="person-circle" style="color: #d7abab;"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="travel" routerLink="/travel">
      <ion-icon name="information-circle" style="color: #d7abab;"></ion-icon>
      <ion-label>Travel Plans</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics" routerLink="/statistics">
      <ion-icon name="bar-chart" style="color: #d7abab;"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friends" routerLink="/friends">
      <ion-icon name="people" style="color: #d7abab;"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-app>