<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Moja putovanja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let p of travelService.putovanja">
      <ion-item (click)="onEdit(p)" button="true">
        <ion-label>
          <h2 style="font-weight: bold;">{{ p.grad }}, {{ p.drzava }}</h2>
          <p>📅 {{ p.datumOd }} - {{ p.datumDo }}</p>
          <p>🚗 {{ p.vrstaPrevoza }} ({{ p.cenaPrevoza }}€)</p>
          <p>🏨 {{ p.vrstaSmestaja }} ({{ p.cenaSmestaja }}€)</p>
        </ion-label>
        <ion-note slot="end" color="danger" style="font-weight: bold; cursor: pointer;">
          EDIT
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="onDelete(p.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="travelService.putovanja.length=== 0" class="ion-text-center ion-padding">
    <p>Nema unetih putovanja. Klikni na + da dodaš prvo!</p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="idiNaDodavanje()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>